h4{
    text-align: center;
}
.middle{
    margin: auto;
    width: 60%;
    margin-bottom: 30px;
}
table{
    border: 1px solid black;
    border-spacing: 1px;
    
}
table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
}
td {
    padding: 2px;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}
.centre{
    text-align: center;
}
.right{
    text-align: right;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
