/* .bg-yellow{
    background-color: yellow;
} */
.bg-image{
    background-image: url(bg-img2.jpg);
    color: white;
    height: 200px;
    width: 400px;
    background-repeat: no-repeat;
}
table{
    background-image: url(bg-img2.jpg);
    color: white;
    height: 500px;
    width: 500px;
    background-attachment: fixed;
}
body{
    background: url(bg-img3.jpg) no-repeat fixed right top;
}