*{
    /* border-collapse: collapse; */
}
.container-1{
    width: auto ;
    height: auto;
    border: 1px solid black;
    /* overflow: hidden; */
    /* border-collapse: collapse; */
    padding: 20px;
    margin: 10px;
}
.container-2{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
  
}
.container-2>div{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}
.container-3{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    /* border-collapse: collapse; */
}
.container-3>div{
    
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    height: 80px;
}