.example1{
    margin: 15px;
}

.example2{
    margin: 50px 5%;
    border: 2px solid black;
    /* This means 50px margin on top and bottom and 5% of browser width on left and right */
}

.example3{
    margin: 20px 0 10px auto;
    /* 20px-top, 0-right, 10px-bottom and auto-left  it goes clockwise */
}
body{
    margin: 10px;
}