*{
    box-sizing: border-box;
}
.topnav{
    background-color: #333;
    overflow: hidden;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

@media screen and (max-width:600px){
    .topnav a{
        width: 100%;
    }
}